.dropdown {
    margin-top: 100px;
    color: var(--text-color);
    background-color: var(--component-color);
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0px 25px;
    border: none;
}

@media (max-width: 375px) {
    .dropdown {
        width: 170px;
        margin-top: 15px;
    }
}