.Search {
    display: flex;
    margin-top: 100px;
    color: var(--text-color);
    background-color: var(--component-color);
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0px 25px;
    
}

@media (max-width: 375px) {
    .Search {
        width: 200px;
        margin-top: 45px;
    }
}