:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --background-color: #f2f2f2;
  --component-color: #fff;
  --text-color: #000;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: var(--component-color);
  width: 100%;
}
